---
import HeaderLink from './HeaderLink.astro';
import { SITE_NAME } from '../consts';
import logo from '../assets/schmitthub_logo.svg'
---

<header>
	<h2 class="logo"><a href="/"><img src={ logo.src } alt={ SITE_NAME } width="238px" height="50px"></a></h2>
	<nav>
		<HeaderLink href="/">Home</span>
		<HeaderLink href="https://bsky.app/profile/philipschm1tt.de" target="_blank">Bluesky</HeaderLink>
		<HeaderLink href="https://www.linkedin.com/in/philipschm1tt/" target="_blank">LinkedIn</HeaderLink>
		<HeaderLink href="/imprint">Imprint</HeaderLink>
		<HeaderLink href="/privacy">Privacy</HeaderLink>
	</nav>
</header>
<!-- <style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style> -->
<style>
	header {
		width: 1000px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding-top: 1em;
	}
	h2 {
		display: inline-block;
	}
	.logo {
		margin-left: 0;
	}
	.logo img {
		display: inline-block;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
